<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Meditato: {% block title %}{% endblock %} </title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-white text-black font-sans min-h-screen flex flex-col">

    <nav class="flex flex-col sm:flex-row items-center justify-between p-4 gap-4 border-b border-gray-300">
      <a href="/" class="text-xl font-semibold">Meditato</a>
      <ul class="flex flex-wrap justify-center gap-3 sm:gap-5 text-sm items-center">
        <li><a href="/" class="hover:underline">Meditate</a></li>
        <li><a href="#" class="hover:underline">Read</a></li>
        {% if logged_in %}
          <li><a href="/logout" class="py-2 px-4 rounded-full bg-red-500 text-white hover:bg-red-600 transition-colors inline-block">Logout</a></li>
        {% else %}
          <li><a href="/login" class="py-2 px-4 rounded-full bg-apple-blue text-white bg-blue-600 inline-block">Login</a></li>
          <li><a href="/register" class="py-2 px-4 rounded-full border border-apple-blue text-apple-blue transition-colors inline-block">Register</a></li>
        {% endif %}
      </ul>
    </nav>

    <main class="p-6 flex-1"> 
      {% block main %}{% endblock %}
    </main>

    {% block script %}{% endblock %}
  </body>
</html>